.App {
  text-align: center;
  display: flex;
  justify-content: center;

}
.userInput {
  border: none;
  outline: none;
  background-color: beige;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  border-bottom: 1px solid black;
}
.input {
  border: none;
  outline: none;
  background-color: beige;
  width: 576px;
  height: 30px;
  margin-top: 10px;
  border-bottom: 1px solid black;
}
.messageContainer {
  width: 100%;
  max-width: 724px;
  font-size: 14px;
}

.me{
  background-color: #58bf56;
  color: white;
  padding: 1em;
  border-radius: 1em;
  max-width: 60%;
  margin-top: 2px;
}
.you{
  background-color: #e5e6ea;
  color: black;
  padding: 1em;
  border-radius: 1em;
  max-width: 60%;
  margin-top: 2px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
